*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    min-height: 100vh;
}

main nav {
    flex: 0.3;
    padding: 20px;
    background-color: aqua;
}

main div {
    flex: 2;
}

main div header {
    padding: 38px;
    flex: 1;
    background-color: aquamarine;
}

main .content {
    display: flex;
    min-height: 70vh;
}

main .content article {
    flex: 2;
    padding: 20px;
    background-color: skyblue;
}

main .content aside {
    flex: 1;
    padding: 20px;
    background-color: rgb(14, 145, 145);
}

main footer {
    padding: 38px;
    background-color: aquamarine;
}