* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer{
    background-color: red;
    padding: 1rem 0;
}

main {
    display: flex;
    flex: 1;
}

main article{
    background-color: yellow;
    flex: 4;
}

main aside{
    background-color: greenyellow;
    flex: 1;
    order: 1;

}

main nav {
    background-color: skyblue;
    flex: 1;
}
